/* courier-prime-regular - latin */
@font-face {
      font-family: "Courier Prime";
      font-style: normal;
      font-weight: 400;
      src: url("courier-prime-v5-latin-regular.eot"); /* IE9 Compat Modes */
      src: local(""),
            url("courier-prime-v5-latin-regular.eot?#iefix")
                  format("embedded-opentype"),
            /* IE6-IE8 */ url("courier-prime-v5-latin-regular.woff2")
                  format("woff2"),
            /* Super Modern Browsers */
                  url("courier-prime-v5-latin-regular.woff") format("woff"),
            /* Modern Browsers */ url("courier-prime-v5-latin-regular.ttf")
                  format("truetype"),
            /* Safari, Android, iOS */
                  url("courier-prime-v5-latin-regular.svg#CourierPrime")
                  format("svg"); /* Legacy iOS */
}
