@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
      .icon {
            @apply w-4 h-4 my-3 text-white transition-all duration-300 transform cursor-pointer hover:text-portdarkerblue hover:-translate-y-1;
      }
      .firsticon {
            @apply w-4 h-4 mt-4 text-white transition-all duration-300 transform cursor-pointer mb-36 hover:text-portdarkerblue hover:-translate-y-1;
      }
}

html,
body {
      padding: 0;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
      color: inherit;
      text-decoration: none;
}

* {
      box-sizing: border-box;
}
